body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: auto;
}

@media screen and (min-width: 640px) {
    main  {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    
    .resume {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem 1rem;
    box-shadow: rgba(99, 99, 99, 99) 0px 2px 8px 0px;
    }
}

.contact-info{
    display: grid;
    grid-template-columns:  auto auto auto;
    padding: 0.5rem 0;
    font-size: 12px;
    justify-content: space-around;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 2em 2em 2em;
}

hr {
    border: 1px solid;
    background-color: black;
    height: 1px;
}

.qrcode {
    text-align: center;
}

.resume {
    margin: auto;
    margin-top: 4px;
}
