body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 960px;
    margin: auto;
}

@media (min-width: 800px) {
    main  {
        display: grid;
        grid-template-columns: 35% 65%;
        margin-top: 2em; 
    }
}

header {
    text-align: center;
    margin: auto 2em;
    font-size: 2.2vw;
}

section {
    margin: auto 2em 2em 2em;
}

i {
    margin-right: .3em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: gray;
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}

.qrcode {
    text-align: center;
}

h4 {
    margin: .2em auto;    
}